.logo {
    margin-left: 4rem;
    z-index: 10;
    text-shadow: -2px 2px 3px rgba(0, 0, 0, 0.4);
    padding: 0.1rem 1rem;
    border-radius: 2px;

    >img {
        width: 300px;
    }
  }

  @media screen and (max-width: 960px) {
  
   .logo {
       margin: 0 2rem;

       >img {
           width: 35%;
       }
   }
  }

  @media screen and (max-width:40em) {
  
   .logo {
       margin: 0 0.5rem;

       >img {
           width: 50%;
       }
   }
  }
