.aboutMain {
  margin: 0;
  padding: 0;
  background: var(--color-bg);
  width: 100vw;
  height: 94vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: var(--color-txt);
}
