.hof {
    margin-top: 8vh;
    width: 100vw;
    height: 100%;
    
    font-family: 'Lato', Arial, sans-serif;
    line-height: 1.5;


    #navbar {
        position: fixed;
        top: vh;
        left: 0px;
        width: 15vw;
        height: 100%;
        border-right: solid;
        border-color: rgb(255, 255, 255);
        background-color: #121212;
      }
      
      header {
        color: #fafafa;
        margin: 1rem;
        text-align: center;
        font-size: 1.4em;
        font-weight: thin;
        text-transform: uppercase;
      }
      
      #main-doc header {
        text-align: left;
        margin: 0px;
      }
      
      #navbar ul {
        height: 88%;
        padding: 0;
        overflow-y: auto;
        overflow-x: hidden;
      }
      
      #navbar li {
        color: #282828;
        border-top: 1px solid #f4f4f8;
        list-style: none;
        position: relative;
        width: 100%;
      }
      
      #navbar a {
        display: block;
        padding: 10px 30px;
        color: #e5e5dc;
        text-decoration: none;
        cursor: pointer;
      }
      
      #main-doc {
        position: absolute;
        top: 8vh;
        left: 15vw;
        padding: 20px;
        background-color: #282828;
        color: #fafafa;
      }

      section,
      main section header {
            margin: 3rem 5rem;
            padding: 3rem 10rem 1rem 1rem;
            font-weight: 800;          
    }

    .og-era {
        color: var(--color-txtSnd);
      }
      
      section article {
        color: #e5e5dc;
        margin: 15px;

        p {
          font-size: 1.2rem;
          font-weight: 200;
        }
       
      }
      
      section li {
        margin: 15px 0px 0px 20px;
       
      }
      
      @media only screen and (max-width: 900px) {
        
        #navbar ul {
          border: 1px solid;
          height: 207px;
        }
      
        #navbar {
          background-color: #121212;
          position: absolute;
          top: 0;
          padding: 0;
          margin: 0;
          width: 100%;
          max-height: 275px;
          border: none;
          z-index: 1;
          border-bottom: 2px solid;
        }
      
        #main-doc {
          position: relative;
          margin-left: 0px;
          margin-top: 270px;
        }
    }
      @media only screen and (max-width: 800px) {
        #main-doc {
          margin-left: -10px;
        }
      
        section {
          margin-left: 0;
          padding: 1rem 0.5rem 1rem 0.5rem;
      }
      
    }
      @media only screen and (max-width: 1100px) {
          section {
              margin-left: 0;
              padding: 1rem 0.5rem 3rem 0.5rem;
          }
      }
}