.history-page {
    width: 100%;
    height: 100%;
    display: block;
    


    .history-section {
        margin-top: 10rem;
        height: 100%;
        width: 100%;
        text-align: center;

        h1 {
            font-size: 4rem;
            color: rgb(233, 200, 15);

        }

        h2 {
            color: lightgray;
            font-size: 5rem;
        }
    }
}