.dropdown-menu {
    position: fixed;
    width: 160px;
    display: flex;
    flex-direction: column;
    top: 5rem;
    list-style: none;
    text-align: start;
    z-index: 1000;
    height: 100%;
 }
 
 .dropdown-menu li {
    background: #080808;
    cursor: pointer;
 }

 
 .dropdown-menu li:hover {
    background: #000000;
 }
 
 .dropdown-menu.clicked {
    display: none;
 }
 
 .dropdown-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 16px;
 }