.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 8vh;
  background: var(--color-bg);
  z-index: 10;
  color: #f4f4f4;
  font-family: var(--font);
  overflow-x: hidden;
}

.logo {
  position: relative;
  margin-left: 4rem;
  font-size: 2.4rem;
  width: fit-content;
  color: var(--color-bg);
  z-index: 100;
  background: var(--color-txtSnd);
  text-shadow: -2px 2px 3px rgba(0, 0, 0, 0.4);
  padding: 0.1rem 1rem;
  border-radius: 2px;
}


.Navbar ul {
  /* display the unordered list in a single row, placing the elements at the end of the grid column */
  margin-left: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  list-style: none;
}

.Navbar ul li {
  /* separate the list items more prominently */
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 0.75rem 1rem;
}

.Navbar ul li a {
  /* reset the anchor link styles */
  font-weight: 200;
  color: var(--color-txt);
  text-decoration: none;
  /* position relative to absolute position the connected pseudo element */
  position: relative;
}

.Navbar ul li a:before {
  /* sätter in en border med pseudo element  */
  content: "";
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 100%;
  right: 100%;
  /* transition for the hover state */
  transition: all 0.3s ease-out;
}

.Navbar ul li:nth-of-type(1) a:before {
  background: var(--color-home);
}
.Navbar ul li:nth-of-type(2) a:before {
  background: var(--color-about);
}
.Navbar ul li:nth-of-type(3) a:before {
  background: var(--color-history);
}
.Navbar ul li:nth-of-type(4) a:before {
  background: var(--color-articles);
}
.Navbar ul li:nth-of-type(5) a:before {
  background: var(--color-halloffame);
}
.Navbar ul li:nth-of-type(6) a:before {
  background: var(--color-contacts);
}

.Navbar ul li a:hover:before {
  /* hover, ändrar så strecket går från mitten till höger och vänster */
  bottom: -1px;
  left: -6px;
  right: -6px;
}
