@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,800;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;800&display=swap');
:root {
  --font: "Montserrat", sans-serif;
  --big-font: "Orbitron", serif;
  --color-bg: #1d1b1b;
  --color-txt: #f4f4f8;
  --color-txtSnd: #ec4d37;
  --color-home: #27dfe6;
  --color-about: #aeadeeec;
  --color-history: #ddc123;
  --color-articles: #ee4e34;
  --color-articles-bg: #fcedda;
  --color-halloffame: #fff;
  --color-contacts: #5c9645;

  --color-btnContactHover: #ec3013;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
html,
body {
  width: 100vw;
  background: var(--color-bg);
  overflow-x: hidden;
}
